body{
	background-color:#555;
	margin:0;
	
}

h1{
	font-size:25px;
}

h2{
	font-size:30px;
	font-family: 'Comic Sans MS', cursive;
	line-height:100%;
}

.wrapper
{
	margin-left:auto;
	margin-right:auto;
	height:auto;
	width:1200px;
	padding:2px;
}

div.panel, p.flip
{

height:auto;
line-height:100%;
margin:auto;
font-size:16px;
padding:10px;
text-align:justify;
letter-spacing: 2px;
line-height: 110%;
background:#555;
border:solid 1px #666;
color:#ffffff;
border-radius:3px;
}

div.panel
{
height:auto;
display:none;
font-size:30px;
padding:20px;
}
p.flip
{
cursor:pointer;
font-size:80px;
text-align:center;
display:block;
padding:30px;
}

.table
{bgcolor:#EAEAEA;
border:0;
 cellpadding:15; 
 cellspacing:0;
  width:auto;
height:auto;
	padding:10px;
	margin:10px;
}

img{
	float:right;
	padding:15px;>
}

.short
{
	

height:370px;
	width:700px;
	margin-bottom:45px;
	margin-left:15px;
	font-family: 'Annie Use Your Telescope', cursive;
	font-weight: 400;
	float:right;
	font-size:30px;
	color:#33FF33;
	display:block;
	list-style-type: none;
	}
	
	a:link {
    color: gray;
}


a:visited {
    color: white;
}


a:hover {
    color: silver;
}


a:active {
    color: silver;
}
	
